@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior: smooth;
}

:root {
  --background: #00302e;
  --foreground: #fffdff;
  cursor:url('/assets/arrowhead-rounded-outline.png'),auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.league-spartan {
  font-family: var(--font-league_spartan);
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: "League Spartan", sans-serif;
  overflow-x: hidden;
}
.hero-bg{
  background-image: url("./images/circle-scatter-haikei1.svg");
  z-index:-1;
}

.scrollToTopButton{
  position: fixed;
  right: 3%;
  bottom: 0%;
  z-index: 1000;
  padding: 1%;
  background-color: #6ead3d;
  color:#00302e;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
 filter: progid: dximagetransform.microsoft.basicimage(rotation=3);
  text-align: center;
  text-decoration: none;
  animation-duration: 5s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} 
.buttonHover:hover{
  background-color: #0c4727;
  transition-delay: 2s;
  transition-timing-function: ease-in;
}
.container{
  background-color:#16794b;
  color: #e4e3dc;
}
.textHover:hover{
  color:#6ead3d;
  transition-delay: 2s;
  transition-timing-function: ease-in;
}
.timeline-icon{
  background-color: #00302e;
}
.timeline-icon:hover{
  background-color: #6ead3d;
  transition: ease-in-out 0.5s;
}
.lucide:hover{
  stroke:#00302e;
}
  @keyframes appear {
    from{
      opacity: 0;
      clip-path: inset(100% 100% 0 0);
    }
    to{
      opacity: 1;
      clip-path:inset(0 0 0 0);
    }
}
.marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.marquee-slider {
  overflow-x:hidden;
  display: flex;
  flex-direction: row;
  object-fit: cover;
  gap:2rem;
  animation: marquee linear 50s infinite;
}

.marquee-card{
  object-fit: cover;
}

.marquee:hover .marquee-slider{
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
.about-image:hover{
  background-color: #6ead3d;
}
