@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  cursor:url('/src/assets/arrowhead-rounded-outline.png'),auto;
  color-scheme: light dark;
  color: black;
  background-color: #A8FF35;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
};
a:hover{

 cursor:url('/src/assets/arrowhead-rounded-outline.png'),auto; 
}
